.root {
  max-width: 48rem;
  margin-top: var(--space-4);
}

.header {
  margin-bottom: var(--space-4);
}

.back {
  display: inline-flex;
  align-items: center;
  transition: var(--transition-all);
}

.back:hover {
  opacity: 0.8;
}

.backIcon {
  height: var(--space-4);
  width: var(--space-4);
  margin-right: var(--space-2);
}

.content {
  width: 100%;
}

@media (max-width: 640px) {
  .root {
    padding: var(--space-4);
  }
}
