.task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-3);
  padding: var(--space-3);
  background-color: var(--secondary);
  border-radius: var(--radius-lg);
  transition: background-color 0.2s;
}

.task:hover {
  background-color: rgba(244, 244, 245, 0.8);
}

.task__content {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
}

.task__edit {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-2);
}

.task__description {
  hyphens: auto;
  word-break: break-all;
  max-width: calc(100% - var(--space-8));
}

.task__actions {
  display: flex;
  width: 100%;
  align-items: center;
  gap: var(--space-2);
}

.task__button {
  flex-grow: 1;
}

.task__icon {
  height: var(--space-4);
  width: var(--space-4);
  margin-right: var(--space-1);
}

.task__icon-button {
  height: var(--space-8);
  width: var(--space-8);
  flex-shrink: 0;
}

/* Modifiers */
.task__description--completed {
  text-decoration: line-through;
}

/* Responsive */
@media (min-width: 640px) {
  .task {
    flex-direction: row;
    align-items: center;
    gap: var(--space-2);
  }

  .task__content {
    width: auto;
  }

  .task__actions {
    width: auto;
  }

  .task__button {
    flex-grow: 0;
  }
}